.slide-container {
    width: 100%;
    max-width: 700px;
    height: 100%;
    max-height: 400px;
    position: relative;
    user-select: none;
    margin: 0 auto;
    
    .arrow-container {
        background: rgb(255, 255, 255);
        opacity: 0;
        transition: all ease .3s;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &.left-arrow {
            color: black;
            left: 15px;
            font-size: 32px;
        }
        &.right-arrow {
            color: black;
            right: 15px;
            font-size: 32px;
        }
    }
    &:hover {
        .arrow-container {
            opacity: 1;
        }
    }
    .img-container {
        display: flex;
        overflow: hidden;
        height: 100%;
        min-height: 100%;
        position: relative;
        border-radius: 7px;
        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
    }
    @media screen and(max-width:'550px'){
        width: 100%;
        .img-container {
            border-radius: 0;
        }
    }
}